# Python
__pycache__/
*.pyc

# Virtual environment
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Large/raw data
data/raw/
data/processed/

# Model files
*.pkl
*.joblib

# Secrets
.env